
/* HOME */
.carousel.slide.home .carousel-item {
    height: 100vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.carousel.slide.home .carousel-caption {
    transform: translateY(-60%);
    bottom: 0;
    top: 60%;
}
.carousel.slide.home .btn {
    background-color: transparent;
    border: 3px solid white;
    color: white;
    //padding: 15px 32px;
    text-align: center;
    //text-decoration: none;
    //display: inline-block;
    font-size: 20px;
    height: 50px;
    width: 180px;
    border-radius: 0;
}
.carousel.slide.home .btn:hover {
    background-color: black;
    border: 3px solid white;
    color: white;
    //padding: 15px 32px;
    text-align: center;
    //text-decoration: none;
    //display: inline-block;
    font-size: 20px;
    height: 50px;
    width: 180px;
}
/* HOME */
.footer {
    position: fixed;
    bottom: 0;
}

/* NAVBAR */
.fixed-top-2 {
    margin-top: 62px;
    margin-left: 0px;
    margin-right: 0px;
}
.navbar-custom {
    background-color: white;
}

.navbar {
    z-index: 90;
}

.navbar + .navbar {
    z-index: 80;
        
}

body {
    padding-top: 104px;
}
/* /NAVBAR */


/* carousel furniture home */
.carousel.slide.fur_home .carousel-indicators li {
    background-color: red;
}

.carousel.slide.fur_home .carousel-indicators {
    bottom: 0;
}

/*Carousel arrows*/
.carousel.slide.fur_home .carousel-control-prev-icon,
.carousel.slide.fur_home .carousel-control-next-icon {
    height: 50px;
    width: 50px;
    outline: black;
    background-size: 50%, 50%;
    border-radius: 50%;
    border: 1px solid black;
    background-image: none;
}

    .carousel.slide.fur_home .carousel-control-next-icon:after {
        content: '>';
        font-size: 30px;
        color: red;
    }

    .carousel.slide.fur_home .carousel-control-prev-icon:after {
        content: '<';
        font-size: 30px;
        color: red;
    }
/*Carousel arrows*/

/* carousel */
.button{
    padding:20px;
    overflow:visible;
}

#Button1 {
    background-color: transparent;
    border: none;
    cursor: pointer;
    text-decoration: none;
    padding: 0px;
}

/* cart button */
#Button_cart {
    background-color: rgba(0, 0, 0, 0.3);
    border: none;
    cursor: pointer;
    text-decoration: none;
    padding: 0px;
    color:white;
}

    #Button_cart.hover {
        background-color: black;
    }

    /* nav-button */
.btn {
    background-color: #45526e;
    border: none;
    cursor: pointer;
    text-decoration: none;
    padding: 5px;
    height: 40px;
    color: white;
}

    .btn:hover {
        background-color: #000000;
        border: none;
        color: white;
    }
.btn-default {
    background-color: white;
}
.btn-default:hover {
    background-color: white;
}
/* nav-button */

.center-block {
    text-align: right;
}

.center-block-2 {
    text-align: left;
}



.dropdown .dropdown-menu {
    border-radius: 0;
}
  

/* Medium devices (tablets, 768px and up) 
The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {
    .dropdown:hover .dropdown-menu {
        display: block;
        margin-top: 0;
        border-radius: 0;
    }
}


    .col-md-3 {
        display: inline-block;
        margin-left: -4px;
    }

    .col-md-3 img {
        width: 100%;
        height: auto;
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 5px;
    }

   


body .no-padding {
    padding-left: 0;
    padding-right: 0;
}

#beds {
    color: black ;
    text-decoration: none;
}

#beds:hover {
    color: #607d8b;
    text-decoration: none;
    cursor: pointer;
}

#beds2 {
    border: none;
    color: #59698d ;
    font-family: 'Candara Light';
    font-weight: bold;
    text-align: center;
}

.alert {
    width: 200px;
    text-align: center;
}

/* home carousel */





